:root {
  --bg-heavy: hsl(320, 37%, 8%);
  --bg-medium: hsl(256, 46%, 19%);
  --bg-light: hsl(312, 57%, 26%);
  --text-negative: hsl(143, 67%, 98%);
  --text-color: hsl(320, 37%, 8%);
  --accent-dark: hsl(123, 100%, 36%);
  --accent-color: hsl(97, 100%, 50%);
  --accent-light: hsl(104, 95%, 85%);
  --extra-dark: hsl(312, 57%, 26%);
  --extra-color: hsl(319, 100%, 61%);
  --extra-light: hsl(319, 100%, 92%);
  --font-text: "Roboto Mono", monospace;
  --font-heading: "Rubik", sans-serif;
}

/* Layout */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: rgb(204, 204, 204);
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  font-family: var(--font-text);
  color: var(--text-color);
  font-size: 12px;
}
body > svg {
  display: none;
}

a {
  color: inherit;
}

/* Printing */
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  display: flex;
  flex-direction: column;
  position: relative;
}
page::before {
  content: "";
  width: 1cm;
  height: 1cm;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  top: 0;
}

page[size=A4] {
  width: 21cm;
  height: 29.7cm;
}

@page {
  size: 21cm 29.7cm;
  padding: 0;
  margin: 0mm;
  border: none;
  border-collapse: collapse;
  overflow: hidden;
}
/* End Printing */
.main-content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 270px 1fr;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

p {
  margin: 0;
}
p + p {
  margin-top: 1em;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.small {
  font-size: 0.875em;
}

.list-item__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.list-item__icon {
  line-height: 0;
  font-size: 1.25em;
  color: var(--accent-color);
}

h2 {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-family: var(--font-heading);
  text-transform: uppercase;
  padding-block: 2px;
  padding-left: 0.75cm;
  margin-left: -0.755cm;
  margin-right: -0.7cm;
  clip-path: polygon(0 0, 100% 0, calc(100% - 0.7cm) 100%, 0 100%);
}

h3 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  color: var(--accent-color);
  overflow: hidden;
  padding-left: 0.75cm;
  margin-left: -0.75cm;
  position: relative;
}
h3::before {
  content: "";
  width: 0.6177083333cm;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
h3 span {
  display: inline-block;
  position: relative;
}
h3 span::after {
  content: "";
  width: 270px;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

article {
  margin-block: 1.5em;
}

.header {
  background-color: var(--bg-medium);
  color: var(--text-negative);
  padding: 0.75cm;
  clip-path: polygon(0 1cm, 1cm 0, 100% 0, 100% calc(100% - 1cm), calc(100% - 1cm) 100%, 0 100%);
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--font-heading);
  font-size: 1.5em;
}
.header__top > * {
  margin: 0;
}
.header__top h1 {
  text-transform: uppercase;
}
.header__top p {
  color: var(--text-negative);
}
.header__bottom {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1cm;
  padding-top: 0.5cm;
}
.header__bottom h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.header__about p {
  text-align: justify;
  hyphens: auto;
}
.header__contacts h3 {
  margin-bottom: 0.5em;
}
.header__contacts h3::before {
  content: none;
}
.header__contacts ul {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  justify-content: space-between;
  font-size: 10px;
  padding-block: 5px;
}
.header__contacts__item {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.sidebar {
  background-color: var(--bg-medium);
  color: var(--text-negative);
  padding: 0 0.75cm;
  height: 100%;
  position: relative;
}
.sidebar::before {
  content: "";
  width: 100%;
  height: 0.5cm;
  background-color: var(--bg-medium);
  position: absolute;
  left: 0;
  top: -0.25cm;
}
.sidebar ul {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75em;
  justify-content: center;
  align-items: center;
}
.sidebar ul li[data-rate="1"] {
  font-size: max(10px, 0.15em);
  font-weight: 0;
}
.sidebar ul li[data-rate="2"] {
  font-size: max(10px, 0.3em);
  font-weight: 100;
}
.sidebar ul li[data-rate="3"] {
  font-size: max(10px, 0.45em);
  font-weight: 200;
}
.sidebar ul li[data-rate="4"] {
  font-size: max(10px, 0.6em);
  font-weight: 300;
}
.sidebar ul li[data-rate="5"] {
  font-size: max(10px, 0.75em);
  font-weight: 400;
}
.sidebar ul li[data-rate="6"] {
  font-size: max(10px, 0.9em);
  font-weight: 500;
}
.sidebar ul li[data-rate="7"] {
  font-size: max(10px, 1.05em);
  font-weight: 600;
}
.sidebar ul li[data-rate="8"] {
  font-size: max(10px, 1.2em);
  font-weight: 700;
}
.sidebar ul li[data-rate="9"] {
  font-size: max(10px, 1.35em);
  font-weight: 800;
}
.sidebar ul li[data-rate="10"] {
  font-size: max(10px, 1.5em);
  font-weight: 900;
}
.sidebar .education h3 {
  margin-bottom: 0.5em;
}
.sidebar .education p + p {
  margin-top: 0.5em;
}

.experiences {
  padding: 0 0.75cm;
  position: relative;
}
.experiences::before {
  content: "";
  width: 0.5cm;
  height: 0.5cm;
  background-color: var(--bg-medium);
  position: absolute;
  left: -0.05cm;
  top: -0.05cm;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.experiences h2 {
  background-color: var(--bg-medium);
  color: var(--accent-color);
}
.experiences h2::before {
  content: "";
  width: 2px;
  display: block;
  height: 100%;
  left: -1px;
  top: 0;
  background-color: var(--bg-medium);
}
.experiences h3 {
  color: var(--bg-medium);
}
.experiences h3::before {
  background-color: var(--bg-medium);
}
.experiences h3 span::after {
  background-color: var(--bg-medium);
}
.experiences .exp-info {
  display: flex;
  gap: 1.5em;
}
.experiences .list-item__icon {
  color: var(--bg-medium);
}
.experiences .exp-feature {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-block: 1em;
  padding-left: 1.2em;
  font-size: 11px;
  margin-top: 1.5em;
}
.experiences .exp-feature li {
  position: relative;
}
.experiences .exp-feature li::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  display: block;
  background-color: var(--bg-medium);
  top: 0.4em;
  left: -1em;
  position: absolute;
  clip-path: polygon(0 0.1em, 0.1em 0, 0.5em 0, 0.5em 0.4em, 0.4em 0.5em, 0 0.5em);
}

/*# sourceMappingURL=index.css.map */
