@use 'utilities' as u;

.header{
    background-color: var(--bg-medium);
    color: var(--text-negative);
    padding: var(--padding);
    position: relative;
    clip-path: polygon(
        0 calc(var(--slant) / 1.5), calc(var(--slant) / 1.5) 0,
        100% 0, 
        100% calc(100% - var(--slant) - var(--slant) / 3), calc(100% - var(--slant) - var(--slant) / 3) 100%, 
        0 100%
    );

    &__top{
        display: flex;
        
        justify-content: space-between;
        align-items: end;
        border-bottom: 2px solid var(--accent-color);
        color: var(--accent-color);
        font-family: var(--font-heading);
        word-spacing: normal;
        font-size: 1.5em;
        
        >*{
            margin-block: 0;
        }
        h1{
            text-transform: uppercase;
            padding-right: 3em;
            margin-bottom: -2px;
            line-height: 1.1;
            clip-path: polygon(
                0 0,
                100% 0,
                calc(100% - var(--slant) - var(--slant) / 1.5) 100%,
                0 100%
            );
        }
        p{
            color: var(--text-negative);
            text-transform: uppercase;
        }

    }
    &__bottom{
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 1cm;
        padding-top: 0.5cm;
        h2{
            @include u.sr-only;
        }
        
    }
    &__about{
        p{
            text-align: justify;
            
        }
    }
    &__contacts{
        ul{
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            justify-content: space-between;
            height: 100%;
            font-size: 12px;
            padding-block: 5px;
        }
        &__item{
            > *{
                display: flex;
                align-items: center;
                gap: 0.5em;
            }
            
        }
    }
    .html-link{
        text-decoration: none;
        color: var(--accent-color);
        position: absolute;
        right: var(--padding);
        top: 0.25cm;
        font-size: 12pt;
        span{
            text-decoration: underline;
            vertical-align: middle;
            display: inline-block;
            svg{
                margin-top: 0.3em;
            }
        }
    }
}