@media screen and (max-width: 20.99cm){
  :root{
    --padding: max(1rem, calc(50vw - 250px));
    --slant: 1.5rem;
  }
  main[size="A4"], body {  
  
    width: 100%;
    max-width: 100%;
    height: auto; 
    margin: 0;
    font-size: 1rem;
  }
  h3{
    span{
      &::after{
        width: 100vw;
      }
    }
  }
  .main-content{
    grid-template-columns: 1fr;
  }
  .header{
    margin-bottom: 10px;
    padding-block: 2.5rem;
    &__top{
      flex-direction: column;
      align-items: stretch;
      h1{
        --slant: 1rem;
        font-size: clamp(1.5rem, 4.2vw + 1rem, 3.5rem);
        padding-right: 1em;
        
      }
      p{
        margin-top: 0.5em;
        text-align: right;
      }
    }
    &__bottom{
      grid-template-columns: 1fr;
      gap: 1.5em;
      
    }
    &__about{
      order: 2;
      p{
          text-align: left;
          font-size: 0.8em;
          
      }
    }
    &__contacts{
      order: 1;
      ul{
        
        justify-content: space-between;
        
        gap: 1em;
        font-size: 0.8em;
        li{
          padding: 0;
        }
      }
    }
  }
  .sidebar{
    --tag-base: 12px;
    --tag-grow: 0.2em;
  }
  .exp-info{
    flex-wrap: wrap;
    row-gap: 0.75em;
    margin-bottom: 20px;
    
    &.interests-info{
      font-size: 1rem;
      row-gap: 1.25em;
      
      .list-item{
        flex: 0 1 140px;
        @media (min-width: 530px){
          flex: 0 1 120px;
        }

        &__value{
          font-size: 0.8em;
        }
      }
      
    }
  }
  .experiences .exp-feature{
    font-size: 0.8em;
    margin-block: 2.5em 4em;
  }

      
}
@media (max-width: 375px), (min-width: 21cm){
  h3{
    span.longer{
      &::after{
        left: 176px;
      }
    }
  }
}
