:root{
    --bg-heavy: hsl(320, 37%, 8%);
    --bg-medium: hsl(256, 46%, 19%);
    --bg-light: hsl(312, 57%, 26%);
    --text-negative: hsl(143, 67%, 98%);
    --text-color: hsl(320, 37%, 8%);
    --accent-dark: hsl(123, 100%, 36%);
    --accent-color: hsl(97, 100%, 50%);
    --accent-light: hsl(104, 95%, 85%);
    --extra-dark: hsl(312, 57%, 26%);
    --extra-color: hsl(319, 100%, 61%);
    --extra-light: hsl(319, 100%, 92%);

    --font-text: 'Roboto Mono', monospace;
    --font-heading: 'Rubik', sans-serif;
}
